// normalize-css подключается с помощью postcss-normalize
@import "include/variables";
@import "include/utils";
@import "include/general";
@import "include/layout";


//@t-ease-out: cubic-bezier(0,0,.15,1);
@t-ease-out: cubic-bezier(0.3,0.3,0,1);
@t-ease-out-smooth: cubic-bezier(0,0,.4,1);


// common
:root {
    // fallback until `root-units` not loaded
    --rw: 100vw;
    --rh: 100vh;
}
@t-body-bg: 1s;
.u-bg, .u-bg, .u-bg__inner {transition: @t-body-bg; transition-property: background-color, color;}
.u-bg--gray {
    &, .u-bg__inner {background: @c-grey-light;}
}
.u-bg--black {
    &, .u-bg__inner {background: #000; color: #fff;}
}
.u-show-fade {
    opacity: 0; transition: opacity 0.6s ease-in-out;
    &.is-showed {opacity: 1;}
}
.u-show-fade-inner {
    opacity: 0; transition: opacity 0.6s 0.1s ease-in-out;
    .is-showed--inner & {opacity: 1;}
}
.no-js {
    .u-show-fade, .u-show-fade-inner {opacity: 1; transition: 0.6s 1s ease-in-out;}
}
.u-sticky {position: sticky; top: var(--header-height);}
.u-controls__item {
    margin-bottom: 8px; white-space: nowrap;
    &:last-child {margin-bottom: 0;}
}
@media (min-width: @breakpoint-small-up) {
    .u-controls {display: flex; align-items: center;}
    .u-controls__item {
        margin-right: 32px; margin-bottom: 0;
        &:last-child {margin-right: 0;}
    }
}
.u-toggle-trigger {
    margin-top: 17px; display: inline-block;
    &.is-toggled {display: none;}
}
@media (max-width: @breakpoint-small-down) {
    .u-toggle:not(.is-toggled) {display: none;}
}
@media (min-width: @breakpoint-small-up) {
    .u-toggle-trigger {display: none;}
}
.main-wrap {}
// override .header__menu {&&}
.animate-content-initial.animate-content-initial {
    .hl-logo {animation: hl-logo @hl-logo-animation-time (@hl-logo-lens-animation-time - 0.05s) backwards ease-out;}
    .hl-logo__lens--1 {animation: hl-logo-lens-1 @hl-logo-lens-animation-time backwards;}
    .hl-logo__lens--2 {animation: hl-logo-lens-2 @hl-logo-lens-animation-time backwards;}
    .main-inner, .header__menu, .header__offcanvas-button, .footer {animation: slide-up 0.6s (@hl-logo-animation-time + @hl-logo-lens-animation-time - 0.4s) backwards;}
}







@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes slide-up {
    0% {opacity: 0; transform: translateY(10px);}
    100% {opacity: 1; transform: translateY();}
}
@keyframes hl-logo {
    0% {transform: translateX(-16px); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}
@keyframes hl-logo-lens-1 {
    0% {transform: translateX(50%) rotateX(90deg) rotateY(-57deg); animation-timing-function: cubic-bezier(0.7,0,0.8,1);}
    60% {transform: translateX(50%);}
    100% {transform: translateX(0);}
}
@keyframes hl-logo-lens-2 {
    //0% {transform: translateX(-50%) rotateX(62deg) rotateY(-55deg);}
    0% {transform: translateX(-50%) rotateX(90deg) rotateY(-57deg); animation-timing-function: cubic-bezier(0.7,0,0.8,1);}
    60% {transform: translateX(-50%);}
    100% {transform: translateX(0);}
}

// header
@hl-logo-small-height: 54px;
@hl-logo-animation-time: 0.8s;
@hl-logo-lens-animation-time: 2s;
@header-height-fallback: 112px;
:root {
    @calc-header-height: (@hl-logo-small-height + 16px * 2);
    --header-height: @calc-header-height;
}
.header {position: fixed; left: 0; right: 0; top: 0; z-index: 10;}
.header__layer {position: absolute; left: 0; top: 0; right: 0; height: @header-height-fallback; height: var(--header-height); z-index: -1; background: #fff;}
.header__container {display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; position: relative;}
.header__logo {padding: 16px 0; position: relative; transition: none;}
.hl-logo {fill: currentColor; display: block; font-size: 0; width: auto; height: @hl-logo-small-height;}
.hl-logo__lens {fill: currentColor; width: 35px; height: auto; position: absolute; top: 16px;}
.hl-logo__lens--1 {left: 0;}
.hl-logo__lens--2 {left: 35px;}
.header__menu {display: none; flex-direction: column; align-items: flex-start; padding-top: 22px;}
.header__link {
    margin-top: 10px; break-inside: avoid;
    &.is-active {opacity: 0.3;}
}
.header__menu-expand {flex-grow: 2;}
.header__menu-email {margin-top: 25px;}
// кнопка вешает .menu- классы на body
.header__menu-layer {background: #fff; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; display: none;}
.header--menu-active {
    .header__menu-layer {display: block;}
    .header__menu {display: flex; padding-top: 10px; padding-bottom: 20px; order: 2; width: 100%;}
}
.header--menu-animate-in {
    .header__menu-layer {animation: fade-in both 0.3s;}
    //.header__menu {animation: slide-up both 0.4s 0.1s;}
    .header__menu {animation: fade-in both 0.3s 0.1s ease-in-out;}
}
.header--menu-animate-out {
    .header__menu-layer {animation: fade-out both 0.3s 0.05s;}
    .header__menu {animation: fade-out both 0.2s;}
}
@menu-icon-size: 36px;
@menu-icon-transition: .25s;
@menu-icon-color: currentColor;
.header__offcanvas-button {display: block; width: @menu-icon-size; height: @menu-icon-size; position: relative; text-align: center;}
.header__offcanvas-icon {
    transition: transform @menu-icon-transition ease-in; background: @menu-icon-color; position: absolute; height: 2px; width: 100%; left: 0; top: 50%; margin-top: -1px; font-size: 0;
    &::before, &::after {transition: transform @menu-icon-transition; background: @menu-icon-color; height: 100%; width: 100%; content: ''; position: absolute; left: 0;}
    &::before {transform: translateY(12px);}
    &::after {transform: translateY(-12px);}
    .header__offcanvas-button.is-active & {
        background-color: transparent; transition: 0.15s ease-out;
        &:before {transform: rotate3d(0, 0, 1, 45deg);}
        &:after {transform: rotate3d(0, 0, 1, -45deg);}
    }
}
@media (min-width: @breakpoint-medium-up) {
    :root {
        @calc-header-height: (71px + 16px + 25px);
        --header-height: @calc-header-height;
    }
    .header__logo {padding-bottom: 25px;}
    .header__logo-image {margin: auto;}
    .hl-logo { height: auto;}
    .hl-logo__lens--1 {width: auto;}
    .hl-logo__lens--2 {width: auto; left: 46px;}
    .header__link { margin-top: 15px;}
    .header__offcanvas-button {width: 50px; height: 50px;}
    .header__offcanvas-icon {
        &::before {transform: translateY(16px);}
        &::after {transform: translateY(-16px);}
    }
}
@media (min-width: @breakpoint-large-up) {
    .header__container {align-items: flex-start;}
    .header__menu {
        display: block; width: 45%; columns: 4; column-gap: 0;
        && {animation: none;}
    }
    .header__link {
        display: inline-block; margin-top: 1px; /* fix webkit columns break*/
        &:nth-child(even) {margin-top: 5px;}
    }
    .header__offcanvas-button {display: none;}
}
@media (min-width: @breakpoint-xxlarge-up) {
    .header__menu {padding-right: 60px;}
}





.footer {padding-top: 20px; padding-bottom: 20px; }
.footer__list {columns: 2; column-gap: 0; margin-top: -5px;}
.footer__list--nav {}
.footer__list-item {padding-top: 5px; break-inside: avoid; page-break-inside: avoid;}
.footer__copyright {margin-top: 8px;}
@media (max-width: @breakpoint-small-down) {
    .footer__social-cell {&& {padding-top: 32px;}}
}
@media (min-width: @breakpoint-medium-up) {
    .footer__copyright {margin-top: 0;}
}
@media (min-width: @breakpoint-large-up) {
    .footer {padding-top: (20px + 60px);}
    .footer__list {columns: 3; column-gap: 32px; margin-top: -8px;}
    .footer__list--nav {
        margin-right: -@grid-second-large-padding;
        .footer__list-item {
            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {margin-left: -16px;}
        }
    }
    .footer__list-item {padding-top: 8px;}
    .footer__list--social {max-width: 500px; padding-left: 40px; margin-left: auto;}
}






// index
.is-intro-zoom-in {
    .header, .intro__title, .intro__controls, .index-platform {opacity: 0; pointer-events: none; transition: opacity 0.75s;}
    .intro__video {transition: 1s;}
}
.is-intro-zoom-out {
    .header, .intro__title, .intro__controls, .index-platform {transition: opacity 0.4s 0.2s;}
    .intro__video {transition: 0.6s;}
}
.intro {display: flex; /* IE fix: force parent flex */}
.intro__inner {
    min-height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%; position: relative; z-index: 1; padding-top: @header-height-fallback; padding-top: var(--header-height); padding-bottom: 32px;
}
.intro__inner--index {
    justify-content: space-between;
    &::before {content: '';}
}
.intro__center {}
.intro__video-wrap {width: 100%;}
.intro__video {width: 100%; display: block;}
.intro__title {transform: translateY(-33.3%); position: relative; pointer-events: none;}
.intro__controls {align-self: flex-start;}
.intro__controls-item {display: flex; align-items: center;}
.intro__controls-icon {margin-right: 8px; flex-shrink: 0; stroke: currentColor; /*width: 14px; height: 14px;*/}
@media (min-width: @breakpoint-small-up) {
    .intro__title {transform: translateY(-53%); margin-bottom: 32px;}
}
@media (min-width: @breakpoint-large-up) {
    .intro__inner {padding-bottom: 64px;}
    .intro__controls {width: 45%; align-self: flex-end; }
}
@media (orientation: landscape) {
    .intro__video-wrap {position: absolute; width: 48.7%; top: 50%; left: 0; transform: translateY(-50%); margin-top: 20px;}
    .intro__title {transform: none; margin-bottom: 80px;}
}


// index platform
.index-platform {}
//.index-platform__world {margin-bottom: 100px;} // replaced with .u-section__part
.index-case__list-wrap {}
.index-case__list {
    flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden; cursor: grab; -ms-overflow-style: -ms-autohiding-scrollbar; margin-left: -@container-padding-small; margin-right: -@container-padding-small; padding: 0 @container-padding-small 20px;
    &::-webkit-scrollbar {display: none;}
    &::after {content: ''; width: @container-padding-small; flex-shrink: 0;}
    &.is-grabbing {cursor: grabbing;}
    .u-cell {flex-shrink: 0;}
}
.index-case__item {}
.index-case__media {display: block; margin-bottom: 25px; width: 100%;}
.index-case__title {padding-right: 16px;}

@media (min-width: @breakpoint-small-up) {
    .index-case__list {
        margin-left: -@container-padding; margin-right: -@container-padding; padding-left: @container-padding; padding-right: @container-padding;
        &::after {width: @container-padding;}
    }
}
@media (min-width: @breakpoint-medium-up) {
    .index-case__list {
        position: relative; flex-wrap: wrap; overflow: visible; cursor: default; padding: 0; margin-left: 0; margin-right: 0;
        &::after {display: none;}
        .u-cell--rest-third--t2 {transform: translateY(120px);}
        .u-cell:last-child {position: absolute; top: 100%; right: 0;}
    }
    .index-case__title {padding: 0 15px;}
    .index-case__description {
        margin-top: 20px; padding: 0 15px; opacity: 0; transition: opacity 0.6s ease;
        .index-case__item:hover & {opacity: 1;}
    }
}

// index industry
@t-industry-lens-delay: 0.2s;
@t-industry-lens-margin: 0.1s;
@t-industry-lens-transform: 1.8s;
.index-industry {padding-top: 185px; position: relative; display: flex; align-items: center; z-index: 1; overflow: hidden;}
.index-industry__lens-layer {
    position: absolute; left: 50%; top: 50%; margin: (-127px - 32px) 0 0 -35px; z-index: -1; width: 70px;
    transition: transform @t-industry-lens-transform (@t-industry-lens-margin + @t-industry-lens-delay) @t-ease-out;
}
.index-industry__cover {
    position: absolute; top: 0; height: 100%; width: 50%; background-color: @c-white; z-index: 2;
    transition: margin @t-industry-lens-margin @t-industry-lens-delay ease-in,
        transform @t-industry-lens-transform (@t-industry-lens-margin + @t-industry-lens-delay) @t-ease-out,
        background-color @t-body-bg;
}
.index-industry__cover--left {right: 50%; margin-right: 35px;}
.index-industry__cover--right {left: 50%; margin-left: 35px;}
.index-industry__title {opacity: 0; transition: opacity 0.6s (@t-industry-lens-margin + @t-industry-lens-delay) ease-in-out;}
.index-industry.is-showed {
    .index-industry__lens-layer--1 {transform: translateX(-165px);}
    .index-industry__lens-layer--2 {transform: translateX(-55px);}
    .index-industry__lens-layer--3 {transform: translateX(55px);}
    .index-industry__lens-layer--4 {transform: translateX(165px);}
    .index-industry__cover--left {transform: translateX(-165px); margin-right: 35px;}
    .index-industry__cover--right {transform: translateX(165px); margin-left: 35px;}
    .index-industry__title {opacity: 1;}
}
@media (min-width: @breakpoint-small-up) {
    .index-industry {height: 768px;/* min-height: 773px;*/ /* pixperf */ padding-top: 0;}
    .index-industry__lens-layer {width: 122px; margin: -220px 0 0 -61px;}
    .index-industry__cover--left {margin-right: 61px;}
    .index-industry__cover--right {margin-left: 61px;}
    .index-industry__title {transition-timing-function: ease;}
    .index-industry.is-showed {
        .index-industry__lens-layer--1 {transform: translateX(-298px);}
        .index-industry__lens-layer--2 {transform: translateX(-102px);}
        .index-industry__lens-layer--3 {transform: translateX(102px);}
        .index-industry__lens-layer--4 {transform: translateX(298px);}
        .index-industry__cover--left {transform: translateX(-298px); margin-right: 61px;}
        .index-industry__cover--right {transform: translateX(298px); margin-left: 61px;}
    }
}
@media (min-width: @breakpoint-large-up) {
    .index-industry__lens-layer {width: auto; /* 144 */ margin: -260px 0 0 -72px;}
    .index-industry__cover--left {margin-right: 72px;}
    .index-industry__cover--right {margin-left: 72px;}
    .index-industry.is-showed {
        .index-industry__lens-layer--1 {transform: translateX(-456px);}
        .index-industry__lens-layer--2 {transform: translateX(-152px);}
        .index-industry__lens-layer--3 {transform: translateX(152px);}
        .index-industry__lens-layer--4 {transform: translateX(456px);}
        .index-industry__cover--left {transform: translateX(-456px); margin-right: 72px;}
        .index-industry__cover--right {transform: translateX(456px); margin-left: 72px;}
    }
}

// index industry description
.index-industry-content {padding-top: 96px;}
.index-industry__market-title {z-index: 2;}

// index industry timeline
.index-timeline-header {margin-bottom: @grid-vertical-margin; display: flex; align-items: baseline;}
.index-timeline-section {
    overflow-x: auto; overflow-y: hidden; cursor: grab; -ms-overflow-style: -ms-autohiding-scrollbar; padding-bottom: 20px; margin-left: -@container-padding-small; margin-right: -@container-padding-small;
    &::-webkit-scrollbar {display: none;}
    &.is-grabbing {cursor: grabbing;}
}
.index-timeline {display: flex; margin-left: 0; margin-right: 0; max-width: none; width: fit-content;}
.index-timeline__item {
    padding-right: @grid-horizontal-margin-small;
    &:last-child {padding-right: 0;}
}
.index-timeline__item-year {margin-bottom: 17px;}
.index-timeline__item-grid {display: flex;}
.index-timeline__cell {
    &+& {margin-left: 20px;}
}
.index-timeline__cell--first, .index-timeline__cell--arkit {width: 216px; flex-shrink: 0;}
.index-timeline__cell--arcore {width: 240px; flex-shrink: 0;}
.index-timeline__image {margin-bottom: 16px;}
.index-timeline__image--default {width: 216px;}
.index-timeline__image--hololens {width: (176 * 790 / 347px);}
.index-timeline__image--iphone {width: (176 * 856 / 351px);}
.index-timeline__text {max-width: 95vw;}
@media (min-width: @breakpoint-small-up) {
    .index-timeline-section {margin-left: -@container-padding; margin-right: -@container-padding;}
}
@media (min-width: @breakpoint-medium-up) {
    .index-timeline__item {
        padding-right: @grid-horizontal-margin-medium;
        &:last-child {padding-right: 0;}
    }
    .index-timeline__item--first {width: calc(100vw / 2 - @container-padding); flex-shrink: 0;}
    .index-timeline__item-year {margin-bottom: 20px;}
    .index-timeline__cell--default {width: auto;}
    .index-timeline__cell--arkit {width: 236px;}
    .index-timeline__cell--arcore {/*width: 400px*/; width: 527px;}
    .index-timeline__image {margin-bottom: 25px;}
    .index-timeline__image--default {width: 230px;}
    .index-timeline__image--hololens {width: (317 * 790 / 347px); /* 721 */}
    .index-timeline__image--iphone {width: (317 * 856 / 351px); /* 773 */}
    .index-timeline__text {max-width: 512px;}
}
// incorrect mq merge
/* clean-css ignore:start */
@media (min-width: @breakpoint-large-up) {
    .index-timeline-header {
        margin-left: calc((100vw - @container-padding * 2) * -0.2);
        margin-left: calc((var(--rw) - @container-padding * 2) * -0.2);
    }
    .index-timeline-section {
        margin-left: calc((100vw - @container-padding * 2) * -0.2 - @container-padding);
        margin-left: calc((var(--rw) - @container-padding * 2) * -0.2 - @container-padding);
    }
    .index-timeline__item {
        padding-right: 150px;
        &:last-child {padding-right: 0;}
    }
    .index-timeline__item--first {width: 246px + 150px;}
    .index-timeline__item-year {margin-bottom: 28px;}
    .index-timeline__image--hololens {width: 790px;}
    .index-timeline__image--iphone {width: 856px;}
}
/* clean-css ignore:end */
@media (min-width: @breakpoint-xxlarge-up) {
    .index-timeline-header {margin-left: calc(@container-width * -0.2);}
    /* clean-css ignore:start */
    .index-timeline-section {
        margin-left: calc((100vw - @container-width) / -2 - @container-width * 0.2);
        margin-right: calc((100vw - @container-width)/ -2);
        margin-left: calc((var(--rw) - @container-width) / -2 - @container-width * 0.2);
        margin-right: calc((var(--rw) - @container-width)/ -2);
    }
    .index-timeline {
        padding: 0 calc((100vw - @container-width) / 2 );
        padding: 0 calc((var(--rw) - @container-width) / 2 );
    }
    /* clean-css ignore:end */
}

// index industry research
.index-industry-research-section {margin-top: 80px;}
.index-industry-research__quote {margin-bottom: 25px;}
.index-industry-research__source {}
.index-industry-research__source-caption {margin-bottom: 8px;}
.index-industry-research__graph {
    margin-top: 72px; display: flex; align-items: flex-end; margin-bottom: 25px;
    &.is-showed .index-industry-research__graph-column::after {transform: scaleY(1);}
}
.index-industry-research__graph-column {
    width: 50%; padding-right: 20px;
    &::after {content: ''; display: block; background: #fff; margin-top: 7px; transform: scaleY(0); transform-origin: 50% 100%; transition: 1.5s 0.2s cubic-bezier(0.2,0,0.1,1); margin-right: -20px;}
}
.index-industry-research__graph-column--left::after {height: 31px;}
.index-industry-research__graph-column--right::after {height: 264px;}
@media (min-width: @breakpoint-medium-up) {
    .index-industry-research-section {margin-top: 100px;}
    .index-industry-research__source {display: flex;}
    .index-industry-research__source-caption {margin-right: 14px; margin-bottom: 0;}
    .index-industry-research__graph {margin-top: 80px; margin-bottom: 32px;}
    .index-industry-research__graph-column::after {margin-top: 14px;}
    .index-industry-research__graph-column--right::after {height: 329px;}
}
@media (min-width: @breakpoint-large-up) {
    .index-industry-research-section {margin-top: 120px;}
    .index-industry-research__graph {margin-top: 120px;}
}


// index technology
.index-technology__video-section {perspective: 600px;}
.index-technology__video {
    display: block; max-width: 100%; transform: rotateX(45deg); transform-origin: 50% 100%; transition: transform 0.7s;
    &.is-showed {transform: rotateX(0);}
}
.index-technology__controls {padding-bottom: 64px;}
.index-technology__controls-caption {margin-bottom: 15px;}
.index-technology__controls-item {width: 50%;}
@media (min-width: @breakpoint-small-up) {
    .index-technology__controls-item {width: auto;}
}
@media (min-width: @breakpoint-large-up) {
    .index-technology__video {max-width: 60%; margin: auto;}
    .index-technology__controls {max-width: 45%; margin-left: auto;}
}

// index soft
@t-soft-lens-delay: 0.4s;
@t-soft-lens-transform: 1.4s;
.index-soft {height: 480px; position: relative; display: flex; align-items: center; z-index: 1; overflow: hidden;}
.index-soft__inner {position: relative; width: 100%; margin-top: 50px;}
.index-soft__title {position: relative;}
.index-soft__lens-wrap, .index-soft__lens-cover {position: absolute; left: 0; top: 0.2em; right: 0; bottom: -0.2em; transform: translateY(75%); transition: transform @t-soft-lens-transform @t-soft-lens-delay @t-ease-out;}
.index-soft__lens-wrap--1 {z-index: 2;}
.index-soft__lens-wrap--2 {z-index: -1;}
.index-soft__lens-cover {z-index: 1;}
.index-soft__lens-cover-fill {position: absolute; left: 0; right: 0; height: 100vh; background: #fff;}
.index-soft__lens-cover-fill--1 {bottom: 100%;}
.index-soft__lens-cover-fill--2 {top: 0;}
.index-soft__lens-layer {
    position: absolute; left: 0; right: 0; bottom: 100%; margin: 0 auto; max-width: 100%; height: auto;
    transition: transform @t-soft-lens-transform @t-soft-lens-delay @t-ease-out, fill @t-body-bg;
    .u-bg--black & {fill: #000;}
}
.index-soft.is-showed {
    .index-soft__lens-wrap--1, .index-soft__lens-cover--1 {transform: translateY(0);}
    .index-soft__lens-wrap--2, .index-soft__lens-cover--2 {transform: translateY(calc(100% + 30px));}
}
@media (min-width: @breakpoint-small-up) {
    .index-soft {height: 768px;}
    .index-soft__inner {margin-top: 100px;}
    .index-soft.is-showed {
        .index-soft__lens-wrap--2, .index-soft__lens-cover--2 {transform: translateY(calc(100% + 55px));}
    }
}
@media (min-width: @breakpoint-large-up) {
    .index-soft.is-showed {
        .index-soft__lens-wrap--2, .index-soft__lens-cover--2 {transform: translateY(calc(100% + 65px));}
    }
}

// index team
.index-team__overflow {
    overflow-y: auto; cursor: grab; -ms-overflow-style: -ms-autohiding-scrollbar; padding-bottom: 20px;
    &::-webkit-scrollbar {display: none;}
    &.is-grabbing {cursor: grabbing;}
}
.index-team__list {display: flex;}
.index-team__item {width: 360px; max-width: 100%; flex-shrink: 0;}
.index-team__item:last-child {box-sizing: content-box; padding-right: @container-padding-small;}
.index-team__image {display: block; max-width: 100%;}
.index-team__name {margin-top: 25px; padding-right: 20px;}
.index-team__description {margin-top: 16px; padding-right: 20px;}
@media (min-width: @breakpoint-small-up) {
    .index-team__item:last-child {padding-right: @container-padding;}
    .index-team__name {margin-top: 30px; padding-right: 55px;}
    .index-team__description {margin-top: 20px; padding-right: 55px;}
}
@media (min-width: @breakpoint-large-up) {
    .index-team__item {width: 400px;}
    .index-team__name {margin-top: 45px;}
    .index-team__description {margin-top: 25px;}
}
// incorrect mq merge
/* clean-css ignore:start */
@media (min-width: @breakpoint-xxlarge-up) {
    .index-team__overflow {
        padding-left: calc((100vw - @container-width) / 2);
        padding-left: calc((var(--rw) - @container-width) / 2);
        padding-right: calc((100vw - @container-width) / 2);
        padding-right: calc((var(--rw) - @container-width) / 2);
    }
    .index-team__item:last-child {
        padding-right: calc((100vw - @container-width) / 2);
        padding-right: calc((var(--rw) - @container-width) / 2);
    }
}
/* clean-css ignore:end */


// media
.section-media__list {display: flex; align-items: center; flex-wrap: wrap; margin-top: -65px;}
.section-media__item {flex-shrink: 0; width: 50%; height: 20px; margin-top: 65px; text-align: center; position: relative}
.section-media__item-divider {width: 100%; flex-shrink: 0;}
.section-media__image {vertical-align: top; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(0.7);}
@media (min-width: @breakpoint-medium-up) {
    .section-media__item {width: 33.333%; height: auto;}
    .section-media__image {position: static; transform: none;}
}
@media (min-width: @breakpoint-xmedium-up) {
    .section-media__list {justify-content: space-between;}
    .section-media__item {width: auto;}
}
@media (min-width: @breakpoint-xlarge-up) {
    .section-media__list {padding-right: 64px;}
}









// Product
:root {
    --feature-cell-height: 95px;
    --feature-cell-height-outer: 97px;
    --feature-shift: 10px;
    --feature-padding-top: 10px;
    --t-feature-in: 0.4s;
    --t-feature-out: 0.25s;
}
.product-features__grid {position: relative; margin: -1px 0;}
.product-features__cell {padding: 1px; height: var(--feature-cell-height-outer);}
.product-features__item-wrap { }
.product-features__item {
    background: #fff; padding: var(--feature-padding-top); display: flex; flex-direction: column; position: absolute; width: 100%; clip: rect(0 auto var(--feature-cell-height) 0); transition: var(--t-feature-out) @t-ease-out; z-index: 0; /* value to transition out */ transform: translate(0, 0); /* fix edge value to transition out */
    &.is-active {clip: rect(0 auto var(--feature-height-full) 0); transform: translate(var(--feature-shift), var(--feature-shift)); z-index: 2; transition: var(--t-feature-in) @t-ease-out;}
    &.is-inactive {opacity: 0.65;}

    &.is-active {
        > .product-features__content {opacity: 1; transform: translateY(0); transition: var(--t-feature-in) @t-ease-out;}
        > .product-features__open {pointer-events: none;}
        .product-features__open-icon {opacity: 0; transition: 0.15s;}
        .product-features__close-icon {opacity: 1; transition: 0.3s calc(var(--t-feature-in) - 0.15s);}
    }
}
.product-features__title {margin-bottom: 24px;}
.product-features__content {opacity: 0; transition: var(--t-feature-out) @t-ease-out;}
.product-features__lead { margin-bottom: 24px;}
@feature-button-size: (16px + 15px * 2);
.product-features__open, .product-features__close {position: absolute; width: @feature-button-size; height: @feature-button-size; display: flex; align-items: center; justify-content: center;}
.product-features__open { right: 0; top: calc(var(--feature-cell-height) - @feature-button-size); }
.product-features__open-icon {width: 16px; height: 16px; transform: rotate(90deg); transition: 0.3s calc(var(--t-feature-out) - 0.15s);}
.product-features__close {right: 0; top: 2px;}
.product-features__close-icon {width: 16px; height: 16px; opacity: 0; transition: 0.3s;}
@media (min-width: @breakpoint-small-up) {
    :root {
        --feature-shift: 15px;
        --feature-padding-top: 20px;
    }
    .product-features__close {width: (25px + 15px * 2); height: (25px + 15px * 2); right: 8px; top: 8px;}
    .product-features__close-icon {width: 25px; height: 25px; }
}
@media (min-width: @breakpoint-medium-up) {
    :root {
        --feature-cell-height: 120px;
        --feature-cell-height-outer: 122px;
        --feature-shift: 15px;
        --feature-padding-top: 20px;
        --t-feature-in: 0.6s;
        --t-feature-out: 0.35s;
    }
    .product-features__grid-overflow {padding-right: var(--feature-shift); padding-bottom: var(--feature-shift); margin: 0 -var(--feature-shift) -var(--feature-shift) 0; overflow: hidden;}
    .product-features__item {
        width: var(--feature-width-full); height: var(--feature-height-full); clip: rect(0 var(--feature-width) var(--feature-cell-height) 0);
        &.is-active {clip: rect(0 var(--feature-width-full) var(--feature-height-full) 0);}
        @even-x: calc(-50% + var(--feature-shift) - 2px);
        :nth-child(2) > &.is-active {transform: translate(@even-x, var(--feature-shift)); }
        :nth-child(3) > &.is-active {transform: translate(var(--feature-shift), calc(var(--feature-shift) - var(--feature-cell-height))); }
        :nth-child(4) > &.is-active {transform: translate(@even-x, calc(var(--feature-shift) - var(--feature-cell-height))); }
        :nth-child(5) > &.is-active {transform: translate(var(--feature-shift), calc(var(--feature-shift) - var(--feature-cell-height) * 2)); }
        :nth-child(6) > &.is-active {transform: translate(@even-x, calc(var(--feature-shift) - var(--feature-cell-height) * 2)); }
        :nth-child(7) > &.is-active {transform: translate(var(--feature-shift), calc(var(--feature-shift) - var(--feature-cell-height) * 3)); }
        :nth-child(8) > &.is-active {transform: translate(@even-x, calc(var(--feature-shift) - var(--feature-cell-height) * 3)); }
        :nth-child(9) > &.is-active {transform: translate(var(--feature-shift), calc(var(--feature-shift) - var(--feature-cell-height) * 4)); }
        :nth-child(10) > &.is-active {transform: translate(@even-x, calc(var(--feature-shift) - var(--feature-cell-height) * 4)); }
    }
    .product-features__content {transform: translateY(calc(-1 * var(--feature-height-full) + 100% + var(--feature-padding-top) + var(--feature-cell-height)));}
    .product-features__title {margin-bottom: auto;}
    .product-features__lead {padding-right: 60px; margin-bottom: 0;}
    .product-features__open { right: 50%; }
}
@media (min-width: @breakpoint-xlarge-up) {
    :root {
        --feature-cell-height: 150px;
        --feature-cell-height-outer: 152px;
        --feature-shift: 30px;
        --feature-padding-top: 28px;
    }
    .product-features__item {padding: 28px 30px;}
    .product-features__lead {padding-right: 100px; }
    .product-features__close {right: 15px; top: 15px;}

}





// Company

// company intro
@t-soft-lens-delay: 0.4s;
@t-soft-lens-transform: 1.4s;
.company-intro {min-height: 100vh; padding-top: @header-height-fallback; padding-top: var(--header-height); position: relative; display: flex; align-items: center; z-index: 1; overflow: hidden;}
.company-intro__inner {position: relative; width: 100%;}
.company-intro__title {}
.company-intro__lens-wrap {}
.company-intro__lens-layer {
    position: absolute; left: 0; top: 50%; right: 0; z-index: -1; margin: 0 auto; max-width: 100%; height: auto;
    .u-bg--black & {fill: #000;}
}
@media (min-width: @breakpoint-small-up) {
    //.company-intro {height: 768px;}
    //.company-intro__inner {margin-top: 100px;}
    .company-intro.is-showed {
        //.company-intro__lens-wrap--2 {transform: translateY(calc(100% + 55px));}
    }
}
@media (min-width: @breakpoint-large-up) {
    .company-intro.is-showed {
        //.company-intro__lens-wrap--2 {transform: translateY(calc(100% + 65px));}
    }
}


// company team
.company-team__overflow {
    overflow-y: auto; cursor: grab; -ms-overflow-style: -ms-autohiding-scrollbar; padding-bottom: 20px;
    &::-webkit-scrollbar {display: none;}
    &.is-grabbing {cursor: grabbing;}
}
.company-team__list {display: flex;}
.company-team__item {width: 360px; max-width: 100%; flex-shrink: 0;}
.company-team__item:last-child {box-sizing: content-box; padding-right: @container-padding-small;}
.company-team__image {display: block; max-width: 100%;}
.company-team__name {margin-top: 25px; padding-right: 20px;}
.company-team__description {margin-top: 16px; padding-right: 20px;}
.company-team__description-links {display: block; padding-top: 20px; margin-top: auto;}
.company-team__description-link:nth-child(n+1) {margin-top: 8px;}
.company-team__jobs {margin-top: 48px;}
@media (min-width: @breakpoint-small-up) {
    .company-team__item:last-child {padding-right: @container-padding;}
}
@media (min-width: @breakpoint-medium-up) {
    .company-team__overflow {overflow: visible; cursor: auto; padding-bottom: 0;}
    .company-team__list {flex-wrap: wrap; margin-top: -50px;}
    .company-team__item {width: 50%; padding-top: 50px; display: flex; flex-direction: column;}
    .company-team__item:last-child {padding-right: 0;}
    .company-team__name {margin-top: 30px; padding-right: 36px;}
    .company-team__description {margin-top: 20px; padding-right: 36px; display: flex; flex-direction: column; flex-grow: 2;}
    .company-team__description-link:nth-child(n+1) {margin-top: 5px;}
    .company-team__jobs {margin-top: 80px;}
}
@media (min-width: @breakpoint-large-up) {
    .company-team__list {margin-top: -64px;}
    .company-team__item {padding-top: 64px;}
    .company-team__name {margin-top: 45px;}
    .company-team__description {margin-top: 25px; display: flex; flex-direction: row;}
    .company-team__description-links {margin-left: 36px; flex-shrink: 0; margin-top: 0; padding-top: 0;}
    .company-team__jobs {margin-top: 120px;}
}



