{#
<section class="section-media u-section u-container" data-observe-bg="gray" data-observe-threshold="0.02">
    <div class="u-grid u-grid--vertical-margin u-show-fade" data-observe-show>
        <div class="u-cell u-cell--first">
            <h2 class="">Media</h2>
        </div>
        <div class="u-cell u-cell--rest section-media__list">
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-cnet.svg" alt="CNET">
            </div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-tc.png" srcset="{{ url_prefix }}img/media-tc@2x.png 2x" alt="TechCrunch">
            </div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-cnn.svg" alt="CNN">
            </div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-verge.png" srcset="{{ url_prefix }}img/media-verge@2x.png 2x" alt="The Verge">
            </div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-gizmodo.svg" alt="Gizmodo">
            </div>
            <div class="section-media__item-divider u-hidden-xmedium-down"></div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-readwrite.svg" alt="ReadWrite">
            </div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-techradar.svg" alt="TechRadar">
            </div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-mashable.svg" alt="Mashable">
            </div>
            <div class="section-media__item">
                <img class="section-media__image" src="{{ url_prefix }}img/media-engadget.png" srcset="{{ url_prefix }}img/media-engadget@2x.png 2x" alt="Engadget">
            </div>
        </div>
    </div>
</section>
#}
