<div class="u-grid u-grid--vertical-margin">
    <div class="u-cell u-cell--first--t2 u-show-fade" data-observe-show>
        <h2 class="u-sticky">Use cases</h2>
    </div>
    <div class="u-cell u-cell--rest--t2">
        {#@TODO gaps between videos in chrome and safari on some window width #}
        <div class="index-case__list u-grid u-grid--vertical-margin--large u-show-fade" data-observe-show data-use-case-list>
            <div class="u-cell u-cell--rest-second--t2">
                <div class="index-case__item" data-use-case-item>
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted playsinline loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case-basic-av1.webm" type="video/webm; codecs=av01.0.08M.08">
                            <source src="{{ url_prefix }}video/case-basic.webm" type="video/webm; codecs=vp9">
                            <source src="{{ url_prefix }}video/case-basic-hevc.mp4" type="video/mp4; codecs=hevc">
                            <source src="{{ url_prefix }}video/case-basic.mp4" type="video/mp4; codecs=avc1">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Basic lense: <br class="u-hidden-small-down">tokens, augmented&nbsp;objects</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique augmented&nbsp;reality.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14" data-rellax-max="1400">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted playsinline loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case-information.webm" type="video/webm; codecs=vp9">
                            <source src="{{ url_prefix }}video/case-information-hevc.mp4" type="video/mp4; codecs=hevc">
                            <source src="{{ url_prefix }}video/case-information.mp4" type="video/mp4; codecs=avc1">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Information: <br> on any object, Wikipedia-like</h3>
                    <p class="index-case__description u-hidden-large-down">There is a predicted growth rate of 55.71% <br> on AR demand by 2023.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-second--t2">
                <div class="index-case__item" data-use-case-item>
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted playsinline loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case-business.webm" type="video/webm; codecs=vp9">
                            <source src="{{ url_prefix }}video/case-business-hevc.mp4" type="video/mp4; codecs=hevc">
                            <source src="{{ url_prefix }}video/case-business.mp4" type="video/mp4; codecs=avc1">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Business and marketing: <br> space branding, logo integration</h3>
                    <p class="index-case__description u-hidden-large-down">Marketing becomes a new proposition when the&nbsp;whole&nbsp;world is a&nbsp;blank&nbsp;canvas.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14" data-rellax-max="1000">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted playsinline loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case-art-av1.webm" type="video/webm; codecs=av01.0.08M.08">
                            <source src="{{ url_prefix }}video/case-art.webm" type="video/webm; codecs=vp9">
                            <source src="{{ url_prefix }}video/case-art.mp4" type="video/mp4; codecs=avc1">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Art: <br> augmented exhibition</h3>
                    <p class="index-case__description u-hidden-large-down">Artists can add a new dimension to their work, creating interactive art that can engage its audience in ways art has been unable&nbsp;to… until&nbsp;now.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-second--t2">
                <div class="index-case__item" data-use-case-item>
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted playsinline loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case-games.webm" type="video/webm; codecs=vp9">
                            <source src="{{ url_prefix }}video/case-games-hevc.mp4" type="video/mp4; codecs=hevc">
                            <source src="{{ url_prefix }}video/case-games.mp4" type="video/mp4; codecs=avc1">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Games: <br> cyberpunk playground</h3>
                    <p class="index-case__description u-hidden-large-down">Whether you like fairies or fangs, this will be the best playground you’ve ever experienced.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14" data-rellax-max="600">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted playsinline loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case-travel.webm" type="video/webm; codecs=vp9">
                            <source src="{{ url_prefix }}video/case-travel-hevc.mp4" type="video/mp4; codecs=hevc">
                            <source src="{{ url_prefix }}video/case-travel.mp4" type="video/mp4; codecs=avc1">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Travel: <br> interactive guide</h3>
                    <p class="index-case__description u-hidden-large-down">Travelling becomes simpler when the world you’re viewing has interactive instructions.</p>
                </div>
            </div>
            {#<div class="u-cell u-cell--rest-second--t2"></div>#}
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14" data-rellax-max="200">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted playsinline loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case-productivity.webm" type="video/webm; codecs=vp9">
                            <source src="{{ url_prefix }}video/case-productivity-hevc.mp4" type="video/mp4; codecs=hevc">
                            <source src="{{ url_prefix }}video/case-productivity.mp4" type="video/mp4; codecs=avc1">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Productivity: <br> interactive instructions</h3>
                    <p class="index-case__description u-hidden-large-down">Increase productivity by having interactive instructions right in front of&nbsp;you.</p>
                </div>
            </div>
        </div>
    </div>
</div>