<div class="u-grid u-grid--vertical-margin">
    <div class="u-cell u-cell--first--t2 u-show-fade" data-observe-show>
        <h2 class="u-sticky">Use cases</h2>
    </div>
    <div class="u-cell u-cell--rest--t2">
        <div class="index-case__list u-grid u-grid--vertical-margin--large u-show-fade" data-observe-show data-use-case-list>
            <div class="u-cell u-cell--rest-second--t2">
                <div class="index-case__item" data-use-case-item>
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case1.webm" type="video/webm">
                            <source src="{{ url_prefix }}video/case1.mp4" type="video/mp4">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Basic lense: <br class="u-hidden-small-down">tokens, augmented&nbsp;objects</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique reality.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case2.webm" type="video/webm">
                            <source src="{{ url_prefix }}video/case2.mp4" type="video/mp4">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Information lense</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique reality.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-second--t2">
                <div class="index-case__item" data-use-case-item>
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case3.webm" type="video/webm">
                            <source src="{{ url_prefix }}video/case3.mp4" type="video/mp4">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Business <br>and marketing lense</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique reality.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case4.webm" type="video/webm">
                            <source src="{{ url_prefix }}video/case4.mp4" type="video/mp4">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Art lense: <br>augmented exhibition</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique reality.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-second--t2">
                <div class="index-case__item" data-use-case-item>
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case5.webm" type="video/webm">
                            <source src="{{ url_prefix }}video/case5.mp4" type="video/mp4">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Games lense: <br>cyberpunk playground</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique reality.</p>
                </div>
            </div>
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <img class="index-case__media" src="{{ url_prefix }}img/case6.jpg" srcset="{{ url_prefix }}img/case6@2x.jpg 2x" width="594" height="330" alt="" role="presentation">
                    </figure>
                    <h3 class="index-case__title u-caption">Travel lense</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique reality.</p>
                </div>
            </div>
            {#<div class="u-cell u-cell--rest-second--t2"></div>#}
            <div class="u-cell u-cell--rest-third--t2">
                <div class="index-case__item" data-use-case-item data-rellax-speed="14">
                    <figure class="index-case__media u-aspect-ratio" style="--aspect-ratio:640/360;">
                        <video class="index-case__media" preload="auto" muted loop data-use-case-video>
                            <source src="{{ url_prefix }}video/case7.webm" type="video/webm">
                            <source src="{{ url_prefix }}video/case7.mp4" type="video/mp4">
                        </video>
                    </figure>
                    <h3 class="index-case__title u-caption">Productivity lense</h3>
                    <p class="index-case__description u-hidden-large-down">Earn and use tokens to create your unique reality.</p>
                </div>
            </div>
        </div>
    </div>
</div>