<footer class="footer u-container" data-observe-bg="gray" data-observe-threshold="0.02">
{#
    <div class="u-section__part u-section__part--large">
        <div class="u-grid u-grid--vertical-margin u-show-slide" data-observe-show>
            <div class="u-cell u-cell--first">
                <h2 class="">Hyperlens. <br> Camera OS Platform</h2>
            </div>
            <div class="u-cell u-cell--second">
                <nav class="footer__list footer__list--nav">
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">FAQ</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Careers</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Terms</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Privacy</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">White paper</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">One pager</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Tech wp</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Pitch deck</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Road map</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Events</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">APIs</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Platform</a>
                    </div>
                </nav>
            </div>
            <div class="u-cell u-cell--third footer__social-cell">
                <div class="footer__list footer__list--social">
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Twitter</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Instagram</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Slack</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Facebook</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Instagram</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Slack</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Github</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Youtube</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Discord</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Telegram</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">Medium</a>
                    </div>
                    <div class="footer__list-item">
                        <a class="footer__link" href="#">LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
#}
    <div class="u-section__part u-section__part--large">
        <div class="u-grid u-show-fade" data-observe-show>
            <div class="u-cell u-cell--second">
                Hyperlens Camera OS Platform
            </div>
            <div class="u-cell u-cell--second footer__copyright">
                Hyperlens © 2021 All&nbsp;rights&nbsp;reserved
            </div>
            <div class="u-cell u-cell--first">
                <a href="mailto:info@hyperlens.io">info@hyperlens.io</a>
            </div>
        </div>
    </div>
</footer>
