{% extends "layouts/default.njk" %}
{% set page_title = "" %}
{% set page_description = "" %}
{% set body_class = "" %}

{% block content %}


    <article class="main-inner">
        <section class="page-intro-wrap u-container">
            <div class="page-intro company-intro" data-observe-show data-observe-threshold="0.25">
                <div class="company-intro__inner">
                    <div class="company-intro__lens-cover company-intro__lens-cover--1">
                        <div class="company-intro__lens-cover-fill company-intro__lens-cover-fill--1 u-bg__inner"></div>
                    </div>
                    <div class="company-intro__lens-wrap company-intro__lens-wrap--1">
                        <img class="company-intro__lens-layer company-intro__lens-layer--1" src="{{ url_prefix }}img/lens-company.svg" width="754" height="169" alt="" role="presentation" data-inline-svg>
                    </div>
                    <div class="company-intro__lens-cover company-intro__lens-cover--2">
                        <div class="company-intro__lens-cover-fill company-intro__lens-cover-fill--2 u-bg__inner"></div>
                    </div>
                    <div class="company-intro__lens-wrap company-intro__lens-wrap--2">
                        <img class="company-intro__lens-layer company-intro__lens-layer--2" src="{{ url_prefix }}img/lens-company.svg" width="754" height="169" alt="" role="presentation" data-inline-svg>
                    </div>
                    <h2 class="company-intro__title u-title">
                        Changing the way you <br class="u-hidden-medium-down">interact with the world <br>
                        改变你与世界互动的方式
                    </h2>
                </div>
            </div>
        </section>

        {# platform #}
        <section class="u-section u-container" data-observe-bg="gray" data-observe-threshold="0.25">
            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                    <h2 class="u-sticky">About <br class="u-hidden-medium-down">the new platform</h2>
                </div>
                <div class="u-cell u-cell--rest">
                    <p class="u-section__part u-caption u-show-fade" data-observe-show>
                        We are on a mission to fundamentally change the way you work, play, and interact with other people and the world around you. To achieve this we are changing your perception of the world, and what you previously thought was possible. We’re using everyday cameras in smartphones and creating lenses that alter the way your camera views the world in front of you. It creates such a vast scope for creativity, education, and marketing we wanted to create a way for users to add and extract value from this new perception, so we created tokens.
                    </p>
                    <div class="u-section__part u-section__part--large">
                        <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                            <div class="u-cell u-cell--rest-second">
                                <h3 class="u-caption">Users are at the <br>heart of the platform</h3>
                            </div>
                            <div class="u-cell u-cell--rest-third">
                                These give users the ability to monetise their efforts and extract real value from the augmented world. Blockchain technology, as a decentralised system, completely removes the need for intermediaries. The individual members and businesses will automatically curate the world just by using it. Users are at the heart of our platform, and the community they represent is our single biggest driving factor. It really is at the core of everything we’ve created.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {# mission #}
        <section class="u-container u-section" data-observe-bg="black" data-observe-threshold="0.25">
            <div class="u-section__part">
                <div class="u-grid u-grid--vertical-margin u-show-fade" data-observe-show>
                    <h2 class="u-cell u-cell--first">Mission</h2>
                    <p class="u-cell u-cell--rest u-title-text">
                        We envision a world where augmented reality is no longer viewed as a cool technology or bolt-on, but just an everyday part of our existence. Invisible layers of data increasing productivity and convenience, enhancing our daily lives, improving reality.
                    </p>
                </div>
            </div>

            <div class="perspective-video-section u-section__part u-section__part--large">
                <video class="perspective-video index-technology__video" preload="auto" muted loop playsinline data-intro-video data-observe-show data-observe-play>
                    <source src="{{ url_prefix }}video/index-intro-1280-vp9.webm" type="video/webm; codecs=vp9">
                    <source src="{{ url_prefix }}video/index-intro-1280.mp4" type="video/mp4">
                </video>
            </div>

            <div class="u-section__part u-section__part--large">
                <div class="u-grid u-grid--vertical-margin">
                    <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                        <h2 class="u-sticky">Vision</h2>
                    </div>
                    <div class="u-cell u-cell--rest">
                        <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                            <div class="u-cell u-cell--rest-second">
                                <h3 class="u-caption">Our vision is to make reality programmable</h3>
                            </div>
                            <div class="u-cell u-cell--rest-third">
                                We are making a revolutionary new environment that will change the way we work, play and communicate. The next generation of the computer platform, where the information around us is displayed in friendly, familiar metaphors of the real world. We switch attention from the phone to the world itself. <br>Creating a programmable reality will fundamentally change the way we work, play, and interact. Spatial computing allows us to achieve this in an intuitive way that will seamlessly blend with the real world. It’s time to stop looking down at devices, and to start looking up and discovering your own version of reality.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {# values #}
        <section class="u-section u-container">
            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                    <h2 class="u-sticky">Values</h2>
                </div>
                <div class="u-cell u-cell--rest">
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Using crypto in real world</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Crypto-currencies are growing in popularity. Crypto enables us to break free from banks, create distributed trust among people, and build a whole new culture of interaction. Now we are on a journey to bring this to the physical world. It was of fundamental importance to us to build an environment that lacked the middle man and does away with the delays and charges. We believe the decentralised approach is better for our community and makes businesses more likely to adopt crypto as an accepted form of payment.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">No boundaries and intermediators between objects, artists, art and a person</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            The technology the platform is built upon ensures all its possibilities are open to everyone. People are free to interact with objects and other people unencumbered. It’s the most direct form of digital communication.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Community</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            The community will curate itself just by participating. They are at the heart of everything that happens. The level of interaction on this scale provides an unprecedented ability to create, share, and earn while participating.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Blockchain and decentralization</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            The use of blockchain helps to ensure the augmented world stays decentralised. This protects it from manipulation from any single bad actor, and also prevents any corporate interests gaining a monopoly over any particular aspect of a users reality.
                        </div>
                    </div>

                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Connect the real and digital world</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Digital devices are often criticised for drawing our attention away from the real world. This new age will see the dawn of a combination that consists of the best of digital and physical reality into one seamless view.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">No attention switch</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Users won’t need to keep switching their attention between a device and reality. Whether they are looking at instructions, exploring somewhere new, or simply taking a walk, everything they need will be layered on top of their physical reality.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Smart cities and affordances</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Imagine a single city with all these features and this level of accessibility. It would be the easiest and most fun city to navigate on the planet. Now imagine the whole world in the same way.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">New economy and tokenization</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            This reality will be self sustaining in every way, including economically. By giving users the ability to earn tokens and make purchases based on their interactions and creations, the AR crypto-economy will create a user driven financial structure where everything can be tokenized.
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {# team #}
        <section class="company-team u-section" data-observe-bg="gray" data-observe-threshold="0.02">
            <div class="company-team__overflow u-container u-show-fade" data-team-dragscroll data-observe-show>
                <div class="u-grid u-grid--vertical-margin">
                    <div class="u-cell u-cell--first--t2">
                        <h2 class="u-sticky">The Team</h2>
                    </div>
                    <div class="u-cell u-cell--rest--t2 company-team__list">
                        <div class="company-team__item">
                            <picture>
                                <source type="image/webp" srcset="{{ url_prefix }}img/team-1-large.webp, {{ url_prefix }}img/team-1-large@15x.webp 1.5x">
                                <img class="company-team__image" src="{{ url_prefix }}img/team-1-large.jpg" srcset="{{ url_prefix }}img/team-1-large@15x.jpg 1.5x" alt="" role="presentation">
                            </picture>
                            <h4 class="company-team__name u-caption">Miro Pavletic</h4>
                            <p class="company-team__description">
                                A graduate of Kazakh National Pedagogical University Abai, Vyacheslav is currently working as&nbsp;freelance graphic designer and as a&nbsp;type designer for&nbsp;Brownfox
                                <span class="company-team__description-links">
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        Facebook
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a> <br>
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        LinkedIn
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="company-team__item">
                            <picture>
                                <source type="image/webp" srcset="{{ url_prefix }}img/team-2-large.webp, {{ url_prefix }}img/team-2-large@15x.webp 1.5x">
                                <img class="company-team__image" src="{{ url_prefix }}img/team-2-large.jpg" srcset="{{ url_prefix }}img/team-2-large@15x.jpg 1.5x" alt="" role="presentation">
                            </picture>
                            <h4 class="company-team__name u-caption">Alicia Wilson</h4>
                            <p class="company-team__description">
                                Gayaneh has designed Cyrillic localizations for most major type libraries, including Linotype, Bitstream, The Font Bureau, ITC, Berthold, Typotheque, Emigre, and ParaType
                                <span class="company-team__description-links">
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        Facebook
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a> <br>
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        LinkedIn
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="company-team__item">
                            <picture>
                                <source type="image/webp" srcset="{{ url_prefix }}img/team-3-large.webp, {{ url_prefix }}img/team-3-large@15x.webp 1.5x">
                                <img class="company-team__image" src="{{ url_prefix }}img/team-3-large.jpg" srcset="{{ url_prefix }}img/team-3-large@15x.jpg 1.5x" alt="" role="presentation">
                            </picture>
                            <h4 class="company-team__name u-caption">Chad Leger</h4>
                            <p class="company-team__description">
                                Originally from Finland, Lotta Nieminen studied graphic design and illustration at the University of Art and Design Helsinki and the Rhode Island School of Design, before founding her New York-based studio in 2012
                                <span class="company-team__description-links">
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        Facebook
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a> <br>
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        LinkedIn
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="company-team__item">
                            <picture>
                                <source type="image/webp" srcset="{{ url_prefix }}img/team-4-large.webp, {{ url_prefix }}img/team-4-large@15x.webp 1.5x">
                                <img class="company-team__image" src="{{ url_prefix }}img/team-4-large.jpg" srcset="{{ url_prefix }}img/team-4-large@15x.jpg 1.5x" alt="" role="presentation">
                            </picture>
                            <h4 class="company-team__name u-caption">Nancy Woodster</h4>
                            <p class="company-team__description">
                                Gayaneh is the mastermind behind Serebro Nabora, a prominent annual international type conference held in Russia.
                                <span class="company-team__description-links">
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        Facebook
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a> <br>
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        LinkedIn
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="company-team__item">
                            <picture>
                                <source type="image/webp" srcset="{{ url_prefix }}img/team-5-large.webp, {{ url_prefix }}img/team-5-large@15x.webp 1.5x">
                                <img class="company-team__image" src="{{ url_prefix }}img/team-5-large.jpg" srcset="{{ url_prefix }}img/team-5-large@15x.jpg 1.5x" alt="" role="presentation">
                            </picture>
                            <h4 class="company-team__name u-caption">Arthur Peterson</h4>
                            <p class="company-team__description">
                                The most important thing for us is to find a new, bright, compelling and unique character of typefaces. One of the challenges here is to stay within the group of typefaces, called workhorses, fonts that cover a broad range of application areas.
                                <span class="company-team__description-links">
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        Facebook
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a> <br>
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        LinkedIn
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="company-team__item">
                            <picture>
                                <source type="image/webp" srcset="{{ url_prefix }}img/team-6-large.webp, {{ url_prefix }}img/team-6-large@15x.webp 1.5x">
                                <img class="company-team__image" src="{{ url_prefix }}img/team-6-large.jpg" srcset="{{ url_prefix }}img/team-6-large@15x.jpg 1.5x" alt="" role="presentation">
                            </picture>
                            <h4 class="company-team__name u-caption">Malcolm Franklin</h4>
                            <p class="company-team__description">
                                His work has been widely acclaimed, included in numerous international books and periodicals, and won an award from Granshan international type design competition, 2013.
                                <span class="company-team__description-links">
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        Facebook
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a> <br>
                                    <a class="company-team__description-link u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                                        LinkedIn
                                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company-team__jobs u-container u-show-fade" data-observe-show>
<!--
                <a class="u-link--icon" href="#">
                    Learn more about <br> jobs opportunities
                    <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                </a>
-->
            </div>
        </section>

    </article>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_prefix }}js/company.min.js"></script>
{% endblock %}
