{% extends "layouts/default.njk" %}
{% set page_title = "" %}
{% set page_description = "" %}
{% set body_class = "" %}

{% block content %}
    <article class="main-inner">
        <section class="u-section u-section--first u-container u-show-slide" data-observe-show>
            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                    <h2 class="u-sticky">Frequently <br>asked questions</h2>
                </div>
                <div class="u-cell u-cell--rest">
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">What is Hyperlens?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
Hyperlens is a spatial computing platform with an integrated blockchain layer for embedding and transferring value. It enables businesses to create and users to enjoy a rich and comprehensive augmented reality (AR) world that seamlessly integrates digital and physical realities, accessed via everyday camera-enabled mobile devices. 

Hyperlens is built around the idea of <b>Lenses</b>: invisible, programmable layers of data that are detected by the camera and displayed interactively in a seamless AR experience. Superimposed upon reality, Lenses allow users to interact with a digital/physical hybrid world. Digital objects can be Lens-specific or accessible across all layers, and conforming to or independent of the laws of physics. They can be either simple interactable digital entities or tokenised blockchain-hosted items.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">What’s your mission and vision?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
Our mission is to change the way we interact with reality and people. Make reality interactive. Cover the world with invisible layers of data. Every place. Each person. Everything. These invisible data layers will be detected by the camera and displayed in augmented reality.
We want to digitize the whole world and radically change the way people interact with their environment in a way that every object reveals its utility by means of a common and familiar instrument such as a camera. We envision a world where augmented reality is no longer viewed as a cool technology or bolt-on, but just an everyday part of our existence. 
Our vision is to make reality programmable. We are making a revolutionary new environment that will change the way we work, play and communicate. The next generation of the computer platform, where the information around us is displayed in friendly, familiar metaphors of the real world. We switch attention from the phone to the world itself. Creating a programmable reality will fundamentally change the way we work, play, and interact. Spatial computing allows us to achieve this in an intuitive way that will seamlessly blend with the real world. It’s time to stop looking down at devices and to start looking up and discovering your own version of reality.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">What technologies do you use?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
Hyperlens is built on two main technologies. The first is <b>spatial computing</b>, an emerging technology which uses a network of cameras to parse and interpret the physical world, enabling its use as the medium of interaction for applications as well as their source of data. The Hyperlens platform combines the concepts of AR, VR, mixed reality and extended reality, creating a digital-twin of the real world, which is then populated with different effects and objects – all of which can be viewed on camera-enabled devices from mobile phones to smart glasses.

Meanwhile, <b>blockchain</b> enables consumers and businesses populate this enhanced world with digital objects of value that can be programmed with their own economic conditions – thereby implementing powerful new business models. User interactions can similarly be programmed with conditions, and with a value attached. Blockchain integration also enables <b>ARDrop</b> functionality: the ability to distribute digital objects in significant locations and among key demographics to be collected and interacted with, for example as rewards or as part of a marketing campaign.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Do you already have a product?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
We started to create the concept of Hyperlens back in 2017. Since then, it continues to evolve as technology advances. From the middle of last year, we have been working on creating an MVP, which we will be ready to present to the general public in the second and third quarters of 2019.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Will I be able to use your application on my mobile phone or I’ll need special wearable?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
Initially, our platform will work on smartphones (iOS and Android), but in the near future, when tech giants release smart glasses (as Apple, Facebook are already engaged in similar developments), we will adapt it to the wearables.
                        </div>
                    </div>
                   
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">What applications will businesses and developers be able to build on Hyperlens?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
Hyperlens’s approach allows developers and businesses to make our physical environment not only a source of content for apps, but also their interface and distribution channel:
<ul>
<li>Wiki Lenses that display information about objects in the user’s camera view.</li>
<li>Nav Lenses that provide directions and transport information in real-time.</li>
<li>Fitness Lenses that show race position, goals and milestones;</li>
<li>Retail Lenses that offer digital reward points, special offers and promotions;</li>
<li>MMO Gaming Lenses, and many others.</li>
</ul>
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Will you have your own token and what’s its economics? </h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
We will have GEM utility token as the native currency. Multiple revenue streams will drive value within a diverse economy of clients, end users and services. All transactions and services on the platform will be paid for using GEMs, including placing any digital object in the AR space. The market for custom Lenses, scan-to-unlock codes and Sponsored Lenses will provide further revenues.
                        </div>
                    </div>
                   
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">What blockchain are you going to use?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
We are planning to release our token on Ethereum Network, but our application will support all major cryptocurrencies and blockchains.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}


{#{% block scripts %}
    {{ super() }}
    <script src="{{ url_prefix }}js/company.min.js"></script>
{% endblock %}#}
