{% extends "layouts/default.njk" %}
{% set page_title = "" %}
{% set page_description = "" %}
{% set body_class = "" %}

{% block content %}
    <article class="main-inner">
        <section class="u-section u-section--first u-container u-show-slide" data-observe-show>
            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                    <h2 class="u-sticky">Frequently <br>asked questions</h2>
                </div>
                <div class="u-cell u-cell--rest">
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Where i can find your product?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
                            Your world becomes a blank canvas for artists, creators, and businesses to play, entertain, and inspire you. Any space, any object, any creator, it’s up to you to decide what you see. <br>We show our world as it is — as a playground for business and people, where anyone can use spaces, objects and information for any needs.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">How i can find Hyperlens camera?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
                            Everything is open, objects you’d never look twice at suddenly become part of your interactive world. <br>We show that objects we have never interacted with do have their intended purposes and can be used.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Is it art or design?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
                            Hyperlens opens up a completely new platform for designers to showcase their skills. From commercial projects to creating new art forms, the creative community will literally have the power to modify reality in new and exciting ways.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Where i can find your product?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
                            Your world becomes a blank canvas for artists, creators, and businesses to play, entertain, and inspire you. Any space, any object, any creator, it’s up to you to decide what you see. <br>We show our world as it is — as a playground for business and people, where anyone can use spaces, objects and information for any needs
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Where i can find your product?</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
                            Your world becomes a blank canvas for artists, creators, and businesses to play, entertain, and inspire you. Any space, any object, any creator, it’s up to you to decide what you see. <br>We show our world as it is — as a playground for business and people, where anyone can use spaces, objects and information for any needs
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}


{#{% block scripts %}
    {{ super() }}
    <script src="{{ url_prefix }}js/company.min.js"></script>
{% endblock %}#}
