{% extends "layouts/default.njk" %}
{% set page_title = "" %}
{% set page_description = "" %}
{% set body_class = "u-bg--black" %}

{% block content %}


    <article class="main-inner">
        <section class="intro u-container" data-observe-bg="black" data-observe-threshold="0.25">
            <div class="intro__inner intro__inner--index">
                <div class="intro__center">
                    <div class="intro__video-wrap-outer"> {# el to calculate actual size #}
                        <div class="intro__video-wrap-inner" data-intro-video-inner> {# el to apply transforms #}
                            <video class="intro__video intro__video--preview" preload="auto" autoplay loop muted playsinline data-intro-video-preview data-observe-play="disabled">
                                <source src="{{ url_prefix }}video/case-basic-av1.webm" type="video/webm; codecs=av01.0.08M.08">
                                <source src="{{ url_prefix }}video/case-basic.webm" type="video/webm; codecs=vp9">
                                <source src="{{ url_prefix }}video/case-basic-hevc.mp4" type="video/mp4; codecs=hevc">
                                <source src="{{ url_prefix }}video/case-basic.mp4" type="video/mp4; codecs=avc1">
                            </video>
                            <video class="intro__video intro__video--main" preload="auto" data-intro-video>
                                {# firefox and chrome not respect [media] #}
                                {#<source src="{{ url_prefix }}video/index-intro-1920-av1.webm" type="video/webm; codecs=av01.0.08M.08" media="screen and (min-width: 1921px)">#}
                                <source src="{{ url_prefix }}video/index-intro-1280-av1.webm" type="video/webm; codecs=av01.0.08M.08" media="screen and (min-width: 1024px)">
                                <source src="{{ url_prefix }}video/index-intro-640-av1.webm" type="video/webm; codecs=av01.0.08M.08" media="screen and (min-width: 640px)">
                                <source src="{{ url_prefix }}video/index-intro-426-av1.webm" type="video/webm; codecs=av01.0.08M.08">
                                {#<source src="{{ url_prefix }}video/index-intro-1920-vp9.webm" type="video/webm; codecs=vp9" media="(min-width: 1921px)">#}
                                <source src="{{ url_prefix }}video/index-intro-1280-vp9.webm" type="video/webm; codecs=vp9" media="(min-width: 1024px)">
                                <source src="{{ url_prefix }}video/index-intro-640-vp9.webm" type="video/webm; codecs=vp9" media="(min-width: 640px)">
                                <source src="{{ url_prefix }}video/index-intro-426-vp9.webm" type="video/webm; codecs=vp9">
                                {#<source src="{{ url_prefix }}video/index-intro-1920-hevc.mp4" type="video/mp4; codecs=hevc" media="(min-width: 1900px)">#}
                                <source src="{{ url_prefix }}video/index-intro-1280-hevc.mp4" type="video/mp4; codecs=hevc" media="(min-width: 1024px)">
                                <source src="{{ url_prefix }}video/index-intro-640-hevc.mp4" type="video/mp4; codecs=hevc" media="(min-width: 640px)">
                                <source src="{{ url_prefix }}video/index-intro-426-hevc.mp4" type="video/mp4; codecs=hevc">
                                {#<source src="{{ url_prefix }}video/index-intro-1920.mp4" type="video/mp4; codecs=avc1" media="(min-width: 1921px)">#}
                                <source src="{{ url_prefix }}video/index-intro-1280.mp4" type="video/mp4; codecs=avc1" media="(min-width: 1024px)">
                                <source src="{{ url_prefix }}video/index-intro-640.mp4" type="video/mp4; codecs=avc1" media="(min-width: 640px)">
                                <source src="{{ url_prefix }}video/index-intro-426.mp4" type="video/mp4; codecs=avc1">
                            </video>
                            {#<button class="intro__video-close is-active u-semantic-button" data-intro-close>
                                <span class="header__offcanvas-icon">Menu</span>
                            </button>#}
                        </div>
                    </div>
                    <h1 class="intro__title u-title">Reality is about <br>
                        to get a lot more exciting <br>
                        现实即将获得更多令人兴奋的</h1>
                </div>
                <div class="intro__controls u-controls">
                    <button class="intro__controls-item u-controls__item u-link u-semantic-button" data-intro-watch>
                        <img class="intro__controls-icon" src="{{ url_prefix }}img/icon-triangle-play.svg" width="14" height="14" alt="" role="presentation" data-inline-svg>
                        Watch video
                    </button>
                    <a class="intro__controls-item u-controls__item u-link" href="#" target="_blank" rel="nofollow noopener">
                        <img class="intro__controls-icon intro__controls-icon--fill" src="{{ url_prefix }}img/icon-triangle-download.svg" width="14" height="14" alt="" role="presentation" data-inline-svg>
                        White paper
                    </a>
                    <a class="intro__controls-item u-controls__item u-link" href="#section-platform" data-one-pager>
                        <img class="intro__controls-icon" src="{{ url_prefix }}img/icon-triangle-down.svg" width="14" height="14" alt="" role="presentation" data-inline-svg>
                        One pager
                    </a>
                </div>
            </div>
        </section>

        {# platform #}
        <section class="index-platform u-section u-container" id="section-platform">
            <div class="u-section__part">
                <div class="u-grid u-grid--vertical-margin index-platform__world u-show-fade" data-observe-show>
                    <div class="u-cell u-cell--first u-hidden-large-down"></div>
                    <div class="u-cell u-cell--second">
                        <h3 class="u-caption u-sticky">Welcome <br class="u-hidden-medium-down">to a New World</h3>
                    </div>
                    <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                    <div class="u-cell u-cell--third u-toggle" data-toggle>
                        The world where your camera is your OS and provides access to a decentralised, creative, and limitless reality. Everyday mundane spaces and buildings become a blank canvas. Flex your creative muscles to sculpt your own reality. Enjoy layers from other creators to tailor your city for your own personal experience. Spend and earn tokens within the community, creating a valuable cryptocurrency just for the AR world. Tokens can easily be spent on real world items from other users, adding value and incentive to your token earning&nbsp;efforts.
                    </div>
                </div>
            </div>

            <div class="u-section__part">
                <div class="u-grid u-grid--vertical-margin">
                    <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                        <h2 class="u-sticky">About <br class="u-hidden-medium-down">the new platform</h2>
                    </div>
                    <div class="u-cell u-cell--rest">
                        <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                            <div class="u-cell u-cell--rest-second">
                                <h3 class="u-caption">We show the evolution of&nbsp;technology</h3>
                            </div>
                            <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                            <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                                When mobile phones were first introduced they were crude devices by todays standards. Now we live in a world where 2.5 billion people have a supercomputer with a great camera in their pocket. While AR’s popularity will continue to grow, the real boom will occur with the mass adoption of convenient and stylish AR glasses or contacts.
                            </div>
                        </div>
                        <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                            <div class="u-cell u-cell--rest-second">
                                <h3 class="u-caption">We talk about how camera is&nbsp;a&nbsp;gateway between online and&nbsp;offline</h3>
                            </div>
                            <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                            <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                                Cameras are attached to nearly every piece of modern tech, from phones to wearables. Using them as an OS bridges the gap between technology and reality. It’s time to stop looking at your devices by creating a reality worth looking up for.
                            </div>
                        </div>
                        <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                            <div class="u-cell u-cell--rest-second">
                                <h3 class="u-caption u-sticky">We show how different technologies are already integrated in our reality </h3>
                            </div>
                            <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                            <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                                <p>We are already seeing the introduction <br class="u-hidden-large-down">of AR and VR in many sectors:</p>
                                <ul class="u-list">
                                    <li>In education we are already seeing the use of AR and VR to engage students in new ways, from using 3D modelling to explain difficult concepts to bright and engaging interactive books.</li>
                                    <li>In healthcare we are seeing the development of VR as a training tool, allowing students to carry out procedures in a virtual world. It’s also being used for physical therapy and reducing stress and pain.</li>
                                    <li>In the motor industry we have seen many manufacturers adopt an AR HUD to provide the driver with additional information in a safer way, but we are also seeing the first stages of it being used for car configuration.</li>
                                    <li>In the travel industry companies are starting to use VR as a way to show people destinations. One large luxury hotel chain ran a promotion allowing people to virtually visit their hotels in London and Hawaii.</li>
                                    <li>In real estate there is a growing demand for virtual house tours that allow the purchaser to get a good look around before deciding whether to view a property.</li>
                                    <li>In the gaming industry there is constant development going on, from online casinos to console games. Games are designed to be as immersive as possible, so there couldn’t be a technology that is a better fit.</li>
                                    <li>They are consistently becoming a bigger part of our lives. It’s undeniable AR and VR are gaining momentum, but XR and MR are also extensions with growing applications. How far into the spatial computing age will we be before screen time is a distant memory. How long before offices become obsolete and our down time becomes an opportunity to explore new worlds or learn new things?</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="u-section__part u-section__part--large">
                {% include 'partials/use-cases.njk' %}
            </div>
        </section>

        {# industry #}
        <section class="index-industry-section" data-observe-bg="gray" data-observe-threshold="0.02">
            <div class="index-industry u-container" data-observe-show data-observe-threshold="0.25">
                <div class="index-industry__cover index-industry__cover--left u-hidden-small-down u-bg__inner"></div>
                <img class="index-industry__lens-layer index-industry__lens-layer--1" src="{{ url_prefix }}img/lens-industry.svg" alt="" role="presentation">
                <img class="index-industry__lens-layer index-industry__lens-layer--2" src="{{ url_prefix }}img/lens-industry.svg" alt="" role="presentation">
                <img class="index-industry__lens-layer index-industry__lens-layer--3" src="{{ url_prefix }}img/lens-industry.svg" alt="" role="presentation">
                <img class="index-industry__lens-layer index-industry__lens-layer--4" src="{{ url_prefix }}img/lens-industry.svg" alt="" role="presentation">
                <div class="index-industry__cover index-industry__cover--right u-hidden-small-down u-bg__inner"></div>
                <h2 class="index-industry__title u-title">
                    We present how the main players use the AR technology and cameras <br>
                    我们介绍主要玩家如何使<br/>用增强现实技术和相机
                </h2>
            </div>

            <div class="u-container u-section index-industry-content">
                <div class="u-grid u-grid--vertical-margin">
                    <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                        <h2 class="u-sticky index-industry__market-title">Market</h2>
                    </div>
                    <div class="u-cell u-cell--rest">
                        {# industry description #}
                        <div class="u-grid u-grid--rest u-grid--vertical-margin u-section__part u-show-fade" data-observe-show>
                            <div class="u-cell u-cell--rest-second">
                                <h3 class="u-caption u-sticky">Ecosystem + <br class="u-hidden-medium-down">potential</h3>
                            </div>
                            <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                            <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                                <p>All of the major players, such as Apple, Google, Facebook, Samsung, and Snapchat have seen the shifts in user behaviour over the last decade. Users prefer mobile. As smartphone cameras have become more capable they are seeing a dramatic shift towards videos.</p>
                                <p>The users prefer visual media and AR is the natural evolution of this. It combines the best aspects of our digital and physical worlds to add convenience, value, and entertainment to our everyday lives. Google are already working towards integrating AR into the Chrome browser, and are running several other projects based on AR tech. Facebook have already incorporated AR into news feeds, Instagram, and Messenger, and we are seeing the emergence of third party filters for use on the Facebook family of apps. Apple are currently developing a powerful wireless headset for use with both AR and VR. Snapchat filters are ludicrously popular and along with Pokemon Go! created a much wider acceptance of AR in everyday lives.</p>
                                <p>Hundreds of start-up companies are responding to trends by developing VR and AR technology to meet the demands of a rapidly growing market. However, disruptors rarely come from within a market. Corporations are so entrenched in their identity and existing model they never move far enough outside this restrictive box.</p>
                                <p>The scope of AR is exponentially greater than any applications we’ve seen so far, and as wearables continue to develop demand is only going to increase. As AR and VR become increasingly important parts of our lives we will see screen time become obsolete. Long-haul travel will become an opportunity for down time, or even for checking out your destination before you arrive. Working remotely won’t hinder collaboration. Patients in hospitals will be able to escape to prettier surroundings to help reduce their stress.<br/>The list of applications we might see in the future of AR and VR is endless, and only time will tell which ones gain the most traction.</p>
                            </div>
                        </div>

                        {# industry timeline #}
                        <div class="index-timeline-wrap u-section__part u-section__part--large u-show-fade" data-observe-show data-horizontal-scroll-wrap>
                            <div class="u-sticky" data-horizontal-scroll-height>
                                <div class="index-timeline-header" data-horizontal-scroll-header>
                                    <div class="index-timeline__item index-timeline__item--first u-hidden-large-down"></div>
                                    <h3 class="u-caption">Industry Milestones</h3>
                                </div>
                                <div class="index-timeline-section" data-dragscroll data-horizontal-scroll>
                                    <div class="index-timeline u-container-padding" data-horizontal-scroll-height-small>
                                        <div class="index-timeline__item index-timeline__item--first">
                                            <h4 class="index-timeline__item-year u-caption">2014</h4>
                                            <div class="index-timeline__item-grid">
                                                <div class="index-timeline__cell index-timeline__cell--first">
                                                    Google glass released to public in 2014 with the functions of ubiquitous computer.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="index-timeline__item">
                                            <h4 class="index-timeline__item-year u-caption">2016</h4>
                                            <div class="index-timeline__item-grid">
                                                <div class="index-timeline__cell">
                                                    <figure class="index-timeline__image index-timeline__image--hololens u-aspect-ratio" style="--aspect-ratio:790/347;">
                                                        <picture>
                                                            <source type="image/webp" srcset="{{ prefix_url }}img/timeline-hololens.webp, {{ prefix_url }}img/timeline-hololens@2x.webp 2x">
                                                            <img src="{{ prefix_url }}img/timeline-hololens.jpg" srcset="{{ prefix_url }}img/timeline-hololens@2x.jpg 2x" alt="Microsoft Hololens">
                                                        </picture>
                                                    </figure>
                                                    <p class="index-timeline__text">Microsoft introduces Hololens as a headset designed to put holograms and objects around&nbsp;you.</p>
                                                </div>
                                                <div class="index-timeline__cell">
                                                    <figure class="index-timeline__image index-timeline__image--default u-aspect-ratio" style="--aspect-ratio:230/230;">
                                                        <picture>
                                                            <source type="image/webp" srcset="{{ prefix_url }}img/timeline-pokemon.webp, {{ prefix_url }}img/timeline-pokemon@2x.webp 2x">
                                                            <img src="{{ prefix_url }}img/timeline-pokemon.jpg" srcset="{{ prefix_url }}img/timeline-pokemon@2x.jpg 2x" alt="Pokemon Go">
                                                        </picture>
                                                    </figure>
                                                    <p>Pokemon Go comes into the world on 6 July of 2016 making the largest public involvement into AR technology through the phone camera — 45 millions of daily users.</p>
                                                </div>
                                                <div class="index-timeline__cell">
                                                    <figure class="index-timeline__image index-timeline__image--default u-aspect-ratio" style="--aspect-ratio:230/230;">
                                                        <picture>
                                                            <source type="image/webp" srcset="{{ prefix_url }}img/timeline-snapchat.webp, {{ prefix_url }}img/timeline-snapchat@2x.webp 2x">
                                                            <img src="{{ prefix_url }}img/timeline-snapchat.png" srcset="{{ prefix_url }}img/timeline-snapchat@2x.png 2x" alt="Snapchat">
                                                        </picture>
                                                    </figure>
                                                    <p>Snapchat Ads add AR to user experience starting 2016.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="index-timeline__item">
                                            <h4 class="index-timeline__item-year u-caption">2017</h4>
                                            <div class="index-timeline__item-grid">
                                                <div class="index-timeline__cell index-timeline__cell--arkit">
                                                    Apple builds ARKit and implement it into iPhone starting version 6. ARKit blends digital objects and information with the environment around you, taking apps far beyond the screen and freeing them to interact with the real world in entirely new ways.
                                                </div>
                                                <div class="index-timeline__cell">
                                                    <figure class="index-timeline__image index-timeline__image--iphone u-aspect-ratio" style="--aspect-ratio:856/351;">
                                                        <picture>
                                                            <source type="image/webp" srcset="{{ prefix_url }}img/timeline-iphone.webp, {{ prefix_url }}img/timeline-iphone@2x.webp 2x">
                                                            <img src="{{ prefix_url }}img/timeline-iphone.jpg" srcset="{{ prefix_url }}img/timeline-iphone@2x.jpg 2x" alt="iPhone X">
                                                        </picture>
                                                    </figure>
                                                    <p class="index-timeline__text">Apple releases iPhone X with TrueDepth Camera that among many features allows  unlocking the phone with user’s face only</p>
                                                </div>
                                                <div class="index-timeline__cell">
                                                    <figure class="index-timeline__image index-timeline__image--default u-aspect-ratio" style="--aspect-ratio:230/230;">
                                                        <picture>
                                                            <source type="image/webp" srcset="{{ prefix_url }}img/timeline-magicleap.webp, {{ prefix_url }}img/timeline-magicleap@2x.webp 2x">
                                                            <img src="{{ prefix_url }}img/timeline-magicleap.jpg" srcset="{{ prefix_url }}img/timeline-magicleap@2x.jpg 2x" alt=">Magic Leap">
                                                        </picture>
                                                    </figure>
                                                    <p>Magic Leap announces its first product Magic Leap One headset that projects a digital light field into the user's eye therefore creating images over real-world objects.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="index-timeline__item">
                                            <h4 class="index-timeline__item-year u-caption">2018</h4>
                                            <div class="index-timeline__item-grid">
                                                <div class="index-timeline__cell index-timeline__cell--arcore">
                                                    <p>Google develops ARCore. Using different APIs, ARCore enables your phone to sense its environment, understand the world and interact with information using motion tracking, environmental understanding and light estimation</p>
                                                    <p>On the 8 May Google introduces I/O with, among other products, Google Lens for augmented objects and Google Maps with AR route tracking.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {# industry research #}
                        <div class="index-industry-research-section">
                            <blockquote class="index-industry-research__quote u-title-text u-show-slide" data-observe-show>
                                The global augmented reality and virtual reality market was valued at $6,158.5 million in&nbsp;2017 by P&S Market Research. MRC is estimated to reach $66.68 billion by 2022, at&nbsp;a&nbsp;CAGR of 58.3%, as predicted in June 2016 by Stratistics MRC.
                            </blockquote>
                            <div class="index-industry-research__source u-show-fade" data-observe-show>
                                <div class="index-industry-research__source-caption">
                                    Researches:
                                </div>
                                <div class="index-industry-research__source-content">
                                    psmarketresearch.com <br/>
                                    orbisresearch.com
                                </div>
                            </div>
                            <div class="index-industry-research__graph" data-observe-show="inner" data-observe-threshold="0.25">
                                <div class="index-industry-research__graph-column index-industry-research__graph-column--left u-show-fade-inner">
                                    $6.16 billion in&nbsp;2017
                                </div>
                                <div class="index-industry-research__graph-column index-industry-research__graph-column--right u-show-fade-inner">
                                    $66.68 billion by&nbsp;2022
                                </div>
                            </div>
                            <div class="u-show-fade" data-observe-show>
                                <a class="u-link--icon" href="#">
                                    Learn more about <br> investment opportunities
                                    <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# ideology #}
        <section class="index-ideology u-section u-container">
            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                    <h2 class="u-sticky">Our platform: <br class="u-hidden-medium-down">Ideology</h2>
                </div>
                <div class="u-cell u-cell--rest">
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">World <br> as&nbsp;a&nbsp;programmable playground</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Your world becomes a blank canvas for artists, creators, and businesses to play, entertain, and inspire you. Any space, any object, any creator, it’s up to you to decide what you see. We&nbsp;show our world as it is — as a playground for business and people, where anyone can use spaces, objects and information for any needs.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Affordances</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Everything is open, objects you’d never look twice at suddenly become part of your interactive world. We&nbsp;show that objets we have never interacted with do have their intended purposes and can be used.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Native way to interact</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Using the Camera as the OS creates a symbiotic relationship between your current reality and your created one. No&nbsp;switching of viewpoints, just one seamless world. We&nbsp;show that now you can see the world through your camera with no constant switching from device and back to reality. The&nbsp;augmented world and the real world connect.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Community driven</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Our community is at the heart of the world. Just by taking part and interacting users will be there own curators, with no centralised or overriding entity. It is literally in your hands. The&nbsp;community is the main focus and value in our platform. Everything is controlled by community and there are no centralized authorities. Distributed consensus.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# technology #}
        <section class="index-technology u-container" data-observe-bg="black" data-observe-threshold="0.25">
            <div class="perspective-video-section u-section">
                <video class="perspective-video index-technology__video" preload="auto" muted playsinline loop data-intro-video data-observe-show data-observe-play>
                    <source src="{{ url_prefix }}video/index-technology.webm" type="video/webm; codecs=vp9">
                    <source src="{{ url_prefix }}video/index-technology.mp4" type="video/mp4">
                </video>
            </div>

            <div class="u-grid u-grid--vertical-margin u-section__part">
                <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                    <h2 class="u-sticky">Our platform: <br class="u-hidden-medium-down">Technology</h2>
                </div>
                <div class="u-cell u-cell--rest">
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Camera as&nbsp;a&nbsp;platform</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            A camera and lenses will be tomorrow’s OS and apps. Camera&nbsp;will be your OS, and the lenses are like apps.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Point cloud</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            700 times more accuracy than GPS means the entire scanned world in the cloud is accurate to within a few centimetres. The&nbsp;world is scanned by cameras and stored in cloud. The&nbsp;location detection is very much improved compared to GPS — from 7 meters to a few centimeters.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Blockchain</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            Using blockchain ensures the platform stays secure and can be trusted. Everything is build on blockchain, therefore secured and can be trusted. No&nbsp;central apparatus. Blockchain&nbsp;3.0. Proof-of-Location Protocol.
                        </div>
                    </div>
                    <div class="u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Tokens</h3>
                        </div>
                        <button class="u-toggle-trigger u-semantic-button" data-toggle-trigger>+ view more</button>
                        <div class="u-cell u-cell--rest-third u-toggle" data-toggle>
                            There are GEMs and Bitcoins as native tokens. Tokens are the main currency, but how you decide to play with them is up to you. There are GEMs as native tokens and Bitcoins. Everything can be tokenized and token is a main currency.
                        </div>
                    </div>
                </div>
            </div>

            <div class="u-section__part index-technology__controls u-show-fade" data-observe-show>
                <p class="index-technology__controls-caption">Development specs and opportunities:</p>
                <div class="u-controls">
                    <a class="index-technology__controls-item u-controls__item u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                        APIs
                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                    </a>
                    <a class="index-technology__controls-item u-controls__item u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                        Road map
                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                    </a>
                    <a class="index-technology__controls-item u-controls__item u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                        Platform
                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                    </a>
                    <a class="index-technology__controls-item u-controls__item u-link--icon" href="#" target="_blank" rel="nofollow noopener">
                        Events
                        <img class="u-link__icon" src="{{ url_prefix }}img/icon-arrow-link.svg" width="13" height="13" alt="" role="presentation" data-inline-svg>
                    </a>
                </div>
            </div>
        </section>

        <section class="index-soft u-section u-container" data-observe-show data-observe-threshold="0.25">
            <div class="index-soft__inner u-title-text">
                <div class="index-soft__lens-cover index-soft__lens-cover--1">
                    <div class="index-soft__lens-cover-fill index-soft__lens-cover-fill--1 u-bg__inner"></div>
                </div>
                <div class="index-soft__lens-wrap index-soft__lens-wrap--1">
                    <img class="index-soft__lens-layer index-soft__lens-layer--1" src="{{ url_prefix }}img/lens-soft.svg" width="759" height="201" alt="" role="presentation" data-inline-svg>
                </div>
                <div class="index-soft__lens-cover index-soft__lens-cover--2">
                    <div class="index-soft__lens-cover-fill index-soft__lens-cover-fill--2 u-bg__inner"></div>
                </div>
                <div class="index-soft__lens-wrap index-soft__lens-wrap--2">
                    <img class="index-soft__lens-layer index-soft__lens-layer--2" src="{{ url_prefix }}img/lens-soft.svg" width="759" height="201" alt="" role="presentation" data-inline-svg>
                </div>
                <h2 class="index-soft__title u-title">
                    Camera will be your OS, and&nbsp;the&nbsp;lenses are&nbsp;like&nbsp;apps <br>
                    相机将是你的操作系统 <br class="u-hidden-mini-down"> 镜头就像应用程序
                </h2>
            </div>
        </section>

        {# team #}
        <section class="index-team u-section">
            <div data-horizontal-scroll-wrap>
                <div class="index-team__overflow u-container-padding u-sticky u-show-fade" data-dragscroll data-observe-show data-horizontal-scroll>
                    <div class="u-grid u-grid--vertical-margin">
                        <div class="u-cell u-cell--first">
                            <h2 class="" data-horizontal-scroll-header>The Team</h2>
                        </div>
                        <div class="u-cell u-cell--rest index-team__list">
                            <div class="index-team__item" data-horizontal-scroll-height>
                                <figure class="u-aspect-ratio" style="--aspect-ratio:400/330;">
                                    <picture>
                                        <source type="image/webp" srcset="{{ prefix_url }}img/team-1.webp, {{ prefix_url }}img/team-1@2x.webp 2x">
                                        <img src="{{ url_prefix }}img/team-1.jpg" srcset="{{ url_prefix }}img/team-1@2x.jpg 2x" alt="" role="presentation">
                                    </picture>
                                </figure>
                                <h4 class="index-team__name u-caption">Miro Pavletic</h4>
                                <p class="index-team__description">A graduate of Kazakh National Pedagogical University Abai, Vyacheslav is currently working as&nbsp;freelance graphic designer and as a&nbsp;type designer for&nbsp;Brownfox</p>
                            </div>
                            <div class="index-team__item">
                                <figure class="u-aspect-ratio" style="--aspect-ratio:400/330;">
                                    <picture>
                                        <source type="image/webp" srcset="{{ prefix_url }}img/team-2.webp, {{ prefix_url }}img/team-2@2x.webp 2x">
                                        <img src="{{ url_prefix }}img/team-2.jpg" srcset="{{ url_prefix }}img/team-2@2x.jpg 2x" alt="" role="presentation">
                                    </picture>
                                </figure>
                                <h4 class="index-team__name u-caption">Alicia Wilson</h4>
                                <p class="index-team__description">Gayaneh has designed Cyrillic localizations for most major type libraries, including Linotype, Bitstream, The Font Bureau, ITC, Berthold, Typotheque, Emigre, and ParaType</p>
                            </div>
                            <div class="index-team__item">
                                <figure class="u-aspect-ratio" style="--aspect-ratio:400/330;">
                                    <picture>
                                        <source type="image/webp" srcset="{{ prefix_url }}img/team-3.webp, {{ prefix_url }}img/team-3@2x.webp 2x">
                                        <img src="{{ url_prefix }}img/team-3.jpg" srcset="{{ url_prefix }}img/team-3@2x.jpg 2x" alt="" role="presentation">
                                    </picture>
                                </figure>
                                <h4 class="index-team__name u-caption">Chad Leger</h4>
                                <p class="index-team__description">Originally from Finland, Lotta Nieminen studied graphic design and illustration at the University of Art and Design Helsinki and the Rhode Island School of Design, before founding her New York-based studio in 2012</p>
                            </div>
                            <div class="index-team__item">
                                <figure class="u-aspect-ratio" style="--aspect-ratio:400/330;">
                                    <picture>
                                        <source type="image/webp" srcset="{{ prefix_url }}img/team-4.webp, {{ prefix_url }}img/team-4@2x.webp 2x">
                                        <img src="{{ url_prefix }}img/team-4.jpg" srcset="{{ url_prefix }}img/team-4@2x.jpg 2x" alt="" role="presentation">
                                    </picture>
                                </figure>
                                <h4 class="index-team__name u-caption">Nancy Woodster</h4>
                                <p class="index-team__description">Gayaneh is the mastermind behind Serebro Nabora, a prominent annual international type conference held in Russia.</p>
                            </div>
                            <div class="index-team__item">
                                <figure class="u-aspect-ratio" style="--aspect-ratio:400/330;">
                                    <picture>
                                        <source type="image/webp" srcset="{{ prefix_url }}img/team-5.webp, {{ prefix_url }}img/team-5@2x.webp 2x">
                                        <img src="{{ url_prefix }}img/team-5.jpg" srcset="{{ url_prefix }}img/team-5@2x.jpg 2x" alt="" role="presentation">
                                    </picture>
                                </figure>
                                <h4 class="index-team__name u-caption">Arthur Peterson</h4>
                                <p class="index-team__description">The most important thing for us is to find a new, bright, compelling and unique character of typefaces. One of the challenges here is to stay within the group of typefaces, called workhorses, fonts that cover a broad range of application areas.</p>
                            </div>
                            <div class="index-team__item">
                                <figure class="u-aspect-ratio" style="--aspect-ratio:400/330;">
                                    <picture>
                                        <source type="image/webp" srcset="{{ prefix_url }}img/team-6.webp, {{ prefix_url }}img/team-6@2x.webp 2x">
                                        <img src="{{ url_prefix }}img/team-6.jpg" srcset="{{ url_prefix }}img/team-6@2x.jpg 2x" alt="" role="presentation">
                                    </picture>
                                </figure>
                                <h4 class="index-team__name u-caption">Malcolm Franklin</h4>
                                <p class="index-team__description">His work has been widely acclaimed, included in numerous international books and periodicals, and won an award from Granshan international type design competition, 2013.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {# media #}
        {% include 'partials/media.njk' %}

    </article>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_prefix }}js/index.min.js"></script>
{% endblock %}
