{% extends "layouts/default.njk" %}
{% set page_title = "" %}
{% set page_description = "" %}
{% set body_class = "u-bg--gray" %}

{% block content %}

    <article class="main-inner">
        <section class="page-intro-wrap u-container u-show-slide" data-observe-show data-observe-bg="gray" data-observe-threshold="0.25">
            <div class="page-intro intro intro--product">
                <div class="intro__center">
                    <div class="intro__video-wrap-outer intro__video-wrap-outer--tint">
                        <div class="intro__video-wrap-inner">
                            <video class="intro__video" preload="auto" muted loop playsinline data-intro-video-preview data-observe-play="disabled">
                                <source src="{{ url_prefix }}video/product-intro.webm" type="video/webm; codecs=vp9">
                                <source src="{{ url_prefix }}video/product-intro.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="intro__content">
                        <h1 class="intro__title u-title">
                            Making the technology easily accessible to everyone <br>
                            使每个人都能轻松访问该技术
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        {# product #}
        <section class="u-section u-container">
            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--first u-show-fade" data-observe-show>
                    <h2 class="u-sticky">Product</h2>
                </div>
                <div class="u-cell u-cell--rest">
                    <div class="u-section__part u-grid u-grid--vertical-margin u-grid--inner u-show-fade" data-observe-show>
                        <div class="u-cell u-cell--rest-second">
                            <h3 class="u-caption">Next Platform <br>in the AR world</h3>
                        </div>
                        <div class="u-cell u-cell--rest-third">
                            The AR world will revolutionise the way you communicate and play. Using the camera as a platform makes the technology easily accessible to everyone, and creates a clear shift towards spatial computing. <br>Forward thinking businesses will quickly adopt AR to improve their customers’ experience. You’ll be able to look up a dish directly from a restaurant’s menu and see other customers’ ratings. Everyday tasks, like updating your calendar, making a call, translating words, or getting directions, will all become quicker and more intuitive.
                        </div>
                    </div>
                    <p class="u-caption u-section__part u-section__part--large u-show-fade" data-observe-show>The physical world will become a treasure trove of information. Whether you’re visiting popular landmarks or wondering what a specific plant is, the answer will be in front of your eyes. Searching for specific items, such as clothes or furniture, will be easier as the physical item becomes your search. The increased access to information will act as a guide to reality, customised by your own preferences. No longer needing to switch attention between a screen and the physical world makes interactions feel intuitive. The use of APIs and decentralisation ensures the platform’s openness, and helps to maintain the community driven control.</p>
                </div>
            </div>
        </section>

        {# features #}
        {% set features = [
            {
                title: 'Point cloud',
                lead: '— scanning with the camera, spatial computing, layers all over, GPS',
                description: 'Spatial computing is the natural evolution of technology. Using your camera to scan reality will be seamless for most users as the technology is already in everyday use. Selected layers appear overlaid on reality more accurately than ever before.'
            },
            {
                title: 'Lenses',
                lead: '— using computer vision and the following analyses of visual stimuli lenses create augmented objects, using the real surroundings',
                description: 'They work like apps and can be used for different tasks: learn more about the world around (objects, landscapes, routes), see instructions to things and descriptions to buildings, historical facts on places. Different lenses add augmented objects to your physical surroundings. Each lens will show augmented objects relevant to its function, which much like apps, can range from entertainment to education.'
            },
            {
                title: 'Object recognition',
                lead: '— all the buildings, bridges, columns and walls will be recognized by computer vision, identify objects, animal, plants, communicate with brands instantly, buy things in a pop-up store, pay immediately',
                description: 'Every physical object will be recognized and identified by your lens. This will allow you to identify unknown objects, such as animals or plants, communicate with brands instantly, and make purchases in pop-up stores instantly.'
            },
            {
                title: 'Digital identity',
                lead: '— you can have your persona as a digital one',
                description: 'This expansion to our everyday reality moves our digital persona from behind a keyboard or screen to the physical world.'
            },
            {
                title: 'Multiplayer <br class="u-hidden-small-down"> real-time space',
                lead: '— different persons can see each other in an augmented space and communicate, do something together, change the environment, co-create',
                description: 'Community is at our heart. That’s why you can interact, co-create, or work on a project with other people using augmented reality.'
            },
            {
                title: 'Face and body <br class="u-hidden-small-down"> tracking',
                lead: '— you will feel yourself in AR as you are in the real world',
                description: 'Face and body tracking keep everything in sync. You will experience the AR elements of the world in a way that feels just as real as your physical world.'
            },
            {
                title: 'Smart contracts',
                lead: '— you can now use them in a real world, not only on the web',
                description: 'Use proof-of-location protocol to execute a smart contract when you arrive at the right place. All your transactions can now happen in the real world with cryptocurrency. Real world transaction can take place using cryptocurrency and smart contracts. Proof of location protocol can be used to execute a smart contract when you’re in a specific place. '
            },
            {
                title: 'Inside economy',
                lead: '— everything in the real world can be tokenized and used as a payment instrument, and for every transaction, you’ll need a token',
                description: 'The economy now is smart, transparent, and works in real time. AR Drop for companies to release their own tokens. Companies can use AR Drop feature to create and distribute their own tokens. Literally, anything can be tokenized, giving users the ability to spend and earn tokens. The AR economy is smart, transparent, and works in real time.'
            }
        ] %}

        <section class="u-container u-section product-features" data-observe-bg="gray" data-observe-threshold="0.02">
            <div class="u-grid u-grid--vertical-margin u-show-fade" data-observe-show>
                <div class="u-cell u-cell--first">
                    <h2 class="u-sticky">Features</h2>
                </div>
                <div class="u-cell u-cell--second-double">
                    <div class="product-features__grid-overflow">
                        <div class="product-features__grid u-grid" data-features-grid>
                            {% for feature in features %}
                                <div class="product-features__cell u-cell u-cell--medium--1-2">
                                    <div class="product-features__item" data-features-item>
                                        <h3 class="u-caption product-features__title">{{ feature.title | safe }}</h3>
                                        <div class="u-grid product-features__content">
                                            <div class="u-cell u-cell--medium--1-2 product-features__lead u-caption">{{ feature.lead | safe }}</div>
                                            <div class="u-cell u-cell--medium--1-2">{{ feature.description | safe }}</div>
                                        </div>
                                        <button class="product-features__open u-link--opacity u-semantic-button" data-feature-open>
                                            <img class="product-features__open-icon" src="/img/icon-arrow-link.svg" alt="Show more">
                                        </button>
                                        <button class="product-features__close u-link--opacity u-semantic-button" disabled data-feature-close>
                                            <img class="product-features__close-icon" src="/img/icon-close.svg" alt="Close">
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# use cases #}
        <section class="u-section u-container">
            {% include 'partials/use-cases.njk' %}
        </section>





        {# media #}
        {% include 'partials/media.njk' %}

    </article>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_prefix }}js/product.min.js"></script>
{% endblock %}
